html,
body {
    height: 100%;
}

html {
    font-size: 13px;
    font-family: "Lato", Arial, sans-serif;
}

.ways-comet {
    color: #fff;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    padding: 1em;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;

    background: #222 linear-gradient(-45deg, #556772, #0000);
    background-size: 400% 400%;
    animation: change 50s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.header {
    background: #222;
}

.logo {
    width: 180px;
    display: inline;
}

a.downloadbtn {
    float: right;
    color: #fff;
    background-color: #3895d3;
    border-radius: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin: 50px 30px 0 0;
    padding: 12px 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.downloadbtn:hover {
    background-color: #1261A0;
}

.mockupfront {
    width: 30%;
    height: auto;
    float: left;
    margin: auto;
}

.mockupfront img {
    width: 100%;
    height: auto;
    float: left;
}

.relative {
    display: flex;
    align-items: center;
    margin: auto;
}

ul {
    padding: 0;
}

li>img {
    width: 10%;
}

li>h2 {
    margin-left: 16px;
    margin-right: 16px;
    width: 25%;
}

li {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    max-width: 300px;
}

hr {
    margin: 2em 0;
}

li>p {
    width: 100%;
}

li>img {
    transition: 0.5s ease-in-out all;
}

li:hover>.settingsicon {
    transform: rotate(60deg);
}

li:hover>img {
    transform: scale(1.1);
}

.shadow {
    -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=5, OffY=5, Color='#444')";
}

@media (max-width: 800px) {
    .ways-comet {
        flex-direction: column;
    }

    .ways-comet>.mockupfront {
        width: 75%;
        max-width: 400px;
    }
}